{% extends 'IntbizthAdminBundle::layout.html.twig' %}

{% import 'SyliusUiBundle:Macro:headers.html.twig' as headers %}

{% set header = configuration.vars.header|default(metadata.applicationName~'.ui.new_'~metadata.name) %}

{% block title %}{{ parent() }} {{ header|trans }}{% endblock %}

{% block javascripts %}
    {% if configuration.vars.html_editor|default(false) %}
        <script src="{{ asset('assets/admin/tinymce.min.js') }}"></script>
    {% endif %}
    {{ parent() }}
{% endblock %}

{% form_theme form 'IntbizthAdminBundle::form.html.twig' %}

{% block _form_start %}
    {{ form_start(form, {'action': path(configuration.getRouteName('create')), 'attr': {'class': 'ui form', 'novalidate': 'novalidate'}}) }}
{% endblock %}

{% block content %}
    {{ block('_form_start') }}
    <div class="ui stackable two column grid page-header">
        <div class="column">
            {{ headers.default(header|trans, configuration.vars.icon|default('plus'), configuration.vars.subheader|default(null)|trans) }}
        </div>
        <div class="middle aligned column">
            <div class="ui right floated buttons">
                {% include 'SyliusUiBundle:Form:_create.html.twig' %}
            </div>
        </div>
    </div>

    <div class="ui segment">
        {% if configuration.vars.templates.form is defined %}
            {% include configuration.vars.templates.form %}
        {% else %}
            {{ form_widget(form) }}
        {% endif %}
    </div>
    {{ form_row(form._token) }}
    {{ block('_form_end') }}
{% endblock %}

{% block _form_end %}
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}
